@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

#sidebar{
    border-radius: 8px;
    margin: 10px;
    width: 72px;
    min-width: 72px;
    transition: all 0.3s ease-in-out;
    background-color: #1b301c;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: fixed;
    height: calc(100vh - 20px);
}

#sidebar.expand{
    width: 280px;
    min-width: 280px;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span{
    display: none;
}
#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span{
    animation: fadeIn .5s ease-in-out;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.sidebar-nav{
    padding: 2rem 0;
    flex: 1 1 auto;
}

.sidebar-link{
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    display: flex;
    color: #fff;
    white-space: nowrap;
    padding-left: 1.1rem;
    transition: all 0.3s ease;
    height: 50px;
    text-decoration: none;
}

.sidebar-link.active{
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    display: flex;
    white-space: nowrap;
    padding-left: 1.1rem;
    transition: all 0.3s ease;
    height: 50px;
    text-decoration: none;
    background-color: #fff;
    color: #1b301c;
}
.sidebar-link span{
    white-space: nowrap;
    padding-left: 1rem;
}

.sidebar-link:not(.active):hover{
    background-color: rgb(255, 255, 255, 0.2);
    color: #fff;
}
.wrapper{
    display: flex;
    background-color: #e0e0e0;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 20px);
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    min-width: 0;
    margin: 10px 10px 10px 92px;
    background-color: #ffffff;
    border-radius: 10px;
}

.main.expand {
    margin-left: 300px;
}